{% extends 'baseUser.html' %}

{% block content %}

{% load static %}
  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->
      {% for i in m %}
      <section class="movie-detail">
        <div class="container">

          <figure class="movie-detail-banner">

            <img src="/media/{{i.imagePoster}}" alt="{{i.title}} movie poster">

            <!-- <button class="play-btn">
              <ion-icon name="play-circle-outline"></ion-icon>
            </button> -->

          </figure>

          <div class="movie-detail-content">

            <!-- <p class="detail-subtitle">New Episodes</p> -->

            <h1 class="h1 detail-title">
                {{i.title}}
            </h1>

            <div class="meta-wrapper">

              <!-- <div class="badge-wrapper">
                <div class="badge badge-fill">PG 13</div>

                <div class="badge badge-outline">HD</div>
              </div> -->
              <div class="ganre-wrapper">
                <a href="#">{{i.genres}}</a>
              </div>
              <div class="date-time">

                <div>
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time datetime="2021">2021</time>
                </div>

                <div>
                  <ion-icon name="time-outline"></ion-icon>

                  <time datetime="PT115M">115 min</time>
                </div>

              </div>

            </div>

            <!-- <p class="storyline">
              A bank teller called Guy realizes he is a background character in an open world video game called Free
              City that will
              soon go offline.
            </p> -->

            <!-- <div class="details-actions">

              <button class="share">
                <ion-icon name="share-social"></ion-icon>

                <span>Share</span>
              </button>

              <div class="title-wrapper">
                <p class="title">Prime Video</p>

                <p class="text">Streaming Channels</p>
              </div>

              <button class="btn btn-primary">
                <ion-icon name="play"></ion-icon>

                <span>Watch Now</span>
              </button>

            </div> -->

            {% if user.is_superuser %}

            <a href="../edit/{{i.movieId}}" class="download-btn">
              <span>Edit</span>

              <ion-icon name="download-outline"></ion-icon>
            </a>  

            {% else %}
            <a href="../addWatchLater/{{i.movieId}}" class="download-btn">
              <span>Watch Later</span>

              <ion-icon name="download-outline"></ion-icon>
            </a> 

            {% endif %}
            
          </div>

        </div>
      </section>


      {% endfor %}


      <!-- 
        - #TV SERIES
      -->

      <section class="tv-series">
        <div class="container">

          <p class="section-subtitle">Content Based</p>

          <h2 class="h2 section-title">Recommendation</h2>

          <ul class="movies-list">

            {% for j in ms %}
            <li>
              <div class="movie-card">

                <a href="./movieDetails">
                  <figure class="card-banner">
                    <img src="/media/{{j.imagePoster}}" alt="movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="/movieDetails/{{j.movieId}}">
                    <h3 class="card-title">{{j.title}}</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                <div class="card-meta">
                  <div class="badge badge-outline">2K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT47M">47 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>8.6</data>
                  </div>
                </div>

              </div>
            </li>
            {% endfor %}

          </ul>

        </div>
      </section>

    </article>
  </main>



  {% endblock%}