{% extends 'baseUser.html' %}

{% block content %}

{% load static %}


  <main>
    <article>


      <!-- 
        - #TV SERIES
      -->

      <section class="tv-series">
        <div class="container">

          <p class="section-subtitle">Search Results</p>

          <h2 class="h2 section-title">{{key}}</h2>

          <ul class="movies-list">

            {% for j in ms %}
            <li>
              <div class="movie-card">

                <a href="./movieDetails/{{j.movieId}}">
                  <figure class="card-banner">
                    <img src="./media/{{j.imagePoster}}" alt="movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="/movieDetails/{{j.movieId}}">
                    <h3 class="card-title">{{j.title}}</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                <div class="card-meta">
                  <div class="badge badge-outline">2K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT47M">47 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>8.6</data>
                  </div>
                </div>

              </div>
            </li>
            {% endfor %}

          </ul>

        </div>
      </section>

    </article>
  </main>



  {% endblock%}